// Código de Nav acá
.navcontainer{
    display: flex;
    justify-content: center;
    background-color: @nav-bg;
    border: 1px @nav-border solid;
    padding: 10px;
    border: @sea-shell solid 1px;

    .title{
        display: flex;
        justify-content: center;
        background-color: @nav-bg;
        padding: 10px;
    }

    .text{
        font-family: @nav-font;
        text-align: center;
        color: @shuttle-gray;
    }
    
    .navitem{
        .text();
        font-size: large;
        padding: 10px;
    }
    
}


